.App {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container{
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  align-self: center;

  display: flex;
  flex-direction: row;
}
main .contacts{
  flex: 1;
}

main .chat{
  flex: 3;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .input{
  width: auto;
  /* height: 30px; */
  flex: 1;

}

.chat .chat-container{
  flex: 10;
  overflow: auto;
}

.chat header{
  background-color: rgb(170, 207, 140);
  width: auto;
  flex: 1;
}

.chat header p{
  margin-left: 16px;
  
}

.chat-container .chat-item{
  max-width: 350px;
  padding: 8px;
  background-color: rgb(204, 226, 204);
  border-radius: 20px;
  margin: 16px 0px 16px 16px;
}

.group-card .group-item {
  max-width: 100px;
  background-color: rgb(204, 226, 204);
  padding: 8px;
  border-radius: 20px;
  margin: 16px 0px 16px 16px;
  cursor: pointer;
}